@import 'tailwindcss';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@config '../../../config/tailwind.config.js';

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    --positive: 62.52% 0.187 259.51;
    --negative: 70.49% 0.187 47.6;
  }
}

@layer utilities {
  .input:focus {
    outline: none;
  }
}
