<span
  class="inline-flex items-center gap-1 rounded-full font-medium <%= size_classes %>"
  style="background-color: <%= background_color %>; color: <%= text_color %>;"
>
  <%= @tag.name %>
</span>
