<div data-controller="ui--color-field">
  <%= @form.hidden_field @attribute, value: @default_value %>

  <div class="grid grid-cols-6 lg:grid-cols-8 gap-1 w-fit">
    <% COLORS.each do |color| %>
      <button
        type="button"
        style="background: <%= color %>"
        data-action="ui--color-field#select"
        data-active="<%= color == @default_value %>"
        data-ui--color-field-color-param="<%= color %>"
        class="h-10 w-10 cursor-pointer rounded-md hover:scale-105 data-[active=true]:border-base-content data-[active=true]:border-3">
      </button>
    <% end %>
  </div>

</div>



