<div class="w-full">
  <div class="flex justify-between items-center pb-2">
    <%= render("components/h1") { 'Manage Data' } %>
  </div>
  <hr>
  <div class="mt-4">
    <%= button_to "Export All Data", data_management_export_path, data: { turbo: false }, class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring bg-primary text-primary-foreground shadow hover:bg-primary/90 px-4 py-2" %>
    <p class="text-xs text-muted-foreground mt-2"> Download all your data into a JSON file. It can be used for backup, to transfer to other applications, or for manually analyzing your finances. </p>
  </div>
</div>
