<div class="mx-auto md:w-2/3 w-full">
  <%= render UI::H1.new.with_content('Editing transfer') %>

  <%= render "form", transfer: @transfer %>

  <%= link_to "Back to transfers", transfers_path, class: "ml-2 btn btn-soft" %>
</div>
