@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100% 0 0;
    --foreground: 14.05% 0.004 285.82;
    --card: 100% 0 0;
    --card-foreground: 14.05% 0.004 285.82;
    --popover: 100% 0 0;
    --popover-foreground: 14.05% 0.004 285.82;
    --primary: 21% 0 286;
    --primary-foreground: 98.48% 0 0;
    --secondary: 96.76% 0.001 286.38;
    --secondary-foreground: 21.03% 0.006 285.88;
    --muted: 96.76% 0.001 286.38;
    --muted-foreground: 55.19% 0.014 285.94;
    --accent: 96.76% 0.001 286.38;
    --accent-foreground: 21.03% 0.006 285.88;
    --destructive: 57.71% 0.215 27.32;
    --destructive-foreground: 98.48% 0 0;
    --border: 91.97% 0.004 286.32;
    --input: 91.97% 0.004 286.32;
    --ring: 71.19% 0.013 286.07;
    --radius: 0.5rem;

    --positive: 62.52% 0.187 259.51;
    --negative: 70.49% 0.187 47.6;

    --warning: 77.01% 0.164 70.73;
    --success: 63.53% 0.207 143.16;
  }

  @media(prefers-color-scheme: dark) {
    :root {
      --background: 14.05% 0.004 285.82;
      --foreground: 98.48% 0 0;
      --card: 14.05% 0.004 285.82;
      --card-foreground: 98.48% 0 0;
      --popover: 14.05% 0.004 285.82;
      --popover-foreground: 98.48% 0 0;
      --primary: 98% 0 98;
      --primary-foreground: 21.03% 0.006 285.88;
      --secondary: 27.41% 0.005 286.03;
      --secondary-foreground: 98.48% 0 0;
      --muted: 27.41% 0.005 286.03;
      --muted-foreground: 71.19% 0.013 286.07;
      --accent: 27.41% 0.005 286.03;
      --accent-foreground: 98.48% 0 0;
      --destructive: 39.59% 0.133 25.72;
      --destructive-foreground: 97.1% 0.013 17.38;
      --border: 27.41% 0.005 286.03;
      --input: 27.41% 0.005 286.03;
      --ring: 87.09% 0.005 286.29;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
