<%= link_to edit_category_path(category), class: "flex items-center rounded-md border-border px-4 py-2 bg-secondary hover:bg-secondary/70" do %>
  <div class="me-2">
    <%== render_category_icon(category) %>
  </div>
  <span class="text-sm font-medium"> <%= category.name %> </span>
<% end %>
