<div class="w-full">
  <div class="flex flex-wrap justify-between items-center pb-2">
    <%= render H1Component.new.with_content('Categories') %>
    <%= link_to "New category", new_category_path, class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2" %>
  </div>

  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-2">
    <%= render @categories %>
  </div>
</div>
