<tr id="<%= dom_id balance %>" class="bg-base-200 text-xs font-bold">
  <td colspan="3" class="text-right py-1">
    Date balance
  </td>
  <td class="py-1">
    <%= number_to_currency(balance.balance) %>
  </td>
  <td></td>
</tr>
