<div class="mx-auto md:w-2/3 w-full">
  <%= render UI::H1.new.with_content('New account') %>

  <%= render "form", account: @account %>

  <%= link_to "Back to accounts", accounts_path, class: "ml-2 btn btn-soft" %>
</div>
