<div class="mx-auto md:w-2/3 w-full">
  <%= render('components/h1') { 'New account' } %>

  <%= render "form", account: @account %>

  <%= link_to "Back to accounts", accounts_path, class: "ml-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-muted text-muted-foreground shadow hover:bg-muted/40 h-9 px-4 py-2" %>
</div>
